{% extends 'base.html' %}
{% load static %}

{% block title %} Search Product - {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block footer %} {% include 'footer.html' %} {% endblock %}

{% block content %}


 <!-- site__body -->
 <div class="site__body">
     <div class="page-header">
        <div class="page-header__container container"></div>
        <center>
            <div class="page-header__container container">
                <div class="page-header__title">
                    <h1>Search Results</h1>
                </div>
                {% if product|length < 1 %}
                <br>
                <h4>Ooops...Sorry No Product Found</h4>
                <p>Write an email or Whatsapp and let us know the product you want:- <br>
                    sales@buysa.co.zw <br> Whatsapp </p>
                {% endif %}
            </div>
        </center>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="block">
            <div class="products-view">
              <div class="products-view__options">
                <div class="view-options">
                  <div class="view-options__layout">
                    <div class="layout-switcher">
                    </div>
                  </div>
                  </div>
                </div>
              </div>
              <div
                class="products-view__list products-list"
                data-layout="grid-5-full"
                data-with-features="false">
                <div class="products-list__body">
                    {% for i in product %}
                  <div class="products-list__item">
                    <div class="product-card">
                      <button class="product-card__quickview" type="button">
                        <svg width="16px" height="16px">
                          <use
                            xlink:href="images/sprite.svg#quickview-16"
                          ></use>
                        </svg>
                        <span class="fake-svg-icon"></span>
                      </button>
                      <div class="product-card__badges-list">
                        <div
                          class="product-card__badge product-card__badge--new"
                        >
                          New
                        </div>
                      </div>
                      <div class="product-card__image">
                        <a href="/product/{{ i.id }}/{{ i.slug }}"
                          ><img src="{{i.image.url}}" alt=""
                        /></a>
                      </div>
                      <div class="product-card__info">
                        <div class="product-card__name">
                          <a href="/product/{{ i.id }}/{{ i.slug }}"
                            >{{i.title}}</a
                          >
                        </div>
                        <div class="product-card__rating">
                          <div class="rating">
                            <div class="rating__body">
                              <svg
                                class="rating__star rating__star--active"
                                width="13px"
                                height="12px"
                              >
                                <g class="rating__fill">
                                  <use
                                    xlink:href="images/sprite.svg#star-normal"
                                  ></use>
                                </g>
                                <g class="rating__stroke">
                                  <use
                                    xlink:href="images/sprite.svg#star-normal-stroke"
                                  ></use>
                                </g>
                              </svg>
                              <div
                                class="rating__star rating__star--only-edge rating__star--active"
                              >
                                <div class="rating__fill">
                                  <div class="fake-svg-icon"></div>
                                </div>
                                <div class="rating__stroke">
                                  <div class="fake-svg-icon"></div>
                                </div>
                              </div>
                              <svg
                                class="rating__star rating__star--active"
                                width="13px"
                                height="12px"
                              >
                                <g class="rating__fill">
                                  <use
                                    xlink:href="images/sprite.svg#star-normal"
                                  ></use>
                                </g>
                                <g class="rating__stroke">
                                  <use
                                    xlink:href="images/sprite.svg#star-normal-stroke"
                                  ></use>
                                </g>
                              </svg>
                              <div
                                class="rating__star rating__star--only-edge rating__star--active"
                              >
                                <div class="rating__fill">
                                  <div class="fake-svg-icon"></div>
                                </div>
                                <div class="rating__stroke">
                                  <div class="fake-svg-icon"></div>
                                </div>
                              </div>
                              <svg
                                class="rating__star rating__star--active"
                                width="13px"
                                height="12px"
                              >
                                <g class="rating__fill">
                                  <use
                                    xlink:href="images/sprite.svg#star-normal"
                                  ></use>
                                </g>
                                <g class="rating__stroke">
                                  <use
                                    xlink:href="images/sprite.svg#star-normal-stroke"
                                  ></use>
                                </g>
                              </svg>
                              <div
                                class="rating__star rating__star--only-edge rating__star--active"
                              >
                                <div class="rating__fill">
                                  <div class="fake-svg-icon"></div>
                                </div>
                                <div class="rating__stroke">
                                  <div class="fake-svg-icon"></div>
                                </div>
                              </div>
                              <svg
                                class="rating__star rating__star--active"
                                width="13px"
                                height="12px"
                              >
                                <g class="rating__fill">
                                  <use
                                    xlink:href="images/sprite.svg#star-normal"
                                  ></use>
                                </g>
                                <g class="rating__stroke">
                                  <use
                                    xlink:href="images/sprite.svg#star-normal-stroke"
                                  ></use>
                                </g>
                              </svg>
                              <div
                                class="rating__star rating__star--only-edge rating__star--active"
                              >
                                <div class="rating__fill">
                                  <div class="fake-svg-icon"></div>
                                </div>
                                <div class="rating__stroke">
                                  <div class="fake-svg-icon"></div>
                                </div>
                              </div>
                              <svg
                                class="rating__star"
                                width="13px"
                                height="12px"
                              >
                                <g class="rating__fill">
                                  <use
                                    xlink:href="images/sprite.svg#star-normal"
                                  ></use>
                                </g>
                                <g class="rating__stroke">
                                  <use
                                    xlink:href="images/sprite.svg#star-normal-stroke"
                                  ></use>
                                </g>
                              </svg>
                              <div
                                class="rating__star rating__star--only-edge"
                              >
                                <div class="rating__fill">
                                  <div class="fake-svg-icon"></div>
                                </div>
                                <div class="rating__stroke">
                                  <div class="fake-svg-icon"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-card__rating-legend">
                            9 Reviews
                          </div>
                        </div>
                        <ul class="product-card__features-list">
                          <li>Speed: 750 RPM</li>
                          <li>Power Source: Cordless-Electric</li>
                          <li>Battery Cell Type: Lithium</li>
                          <li>Voltage: 20 Volts</li>
                          <li>Battery Capacity: 2 Ah</li>
                        </ul>
                      </div>
                      <div class="product-card__actions">
                        <div class="product-card__availability">
                          Availability:
                          <span class="text-success">In Stock</span>
                        </div>
                        <div class="product-card__prices">${{ i.price }}</div>
                        <div class="product-card__buttons">
                          <button
                            class="btn btn-primary product-card__addtocart"
                            type="button"
                          >
                            Add To Cart
                          </button>
                          <button
                            class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
                            type="button"
                          >
                            Add To Cart
                          </button>
                          <button
                            class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
                            type="button"
                          >
                            <svg width="16px" height="16px">
                              <use
                                xlink:href="images/sprite.svg#wishlist-16"
                              ></use>
                            </svg>
                            <span
                              class="fake-svg-icon fake-svg-icon--wishlist-16"
                            ></span>
                          </button>
                          <button
                            class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare"
                            type="button"
                          >
                            <svg width="16px" height="16px">
                              <use
                                xlink:href="images/sprite.svg#compare-16"
                              ></use>
                            </svg>
                            <span
                              class="fake-svg-icon fake-svg-icon--compare-16"
                            ></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                 {% endfor %}
                </div>
              </div>
              <div class="products-view__pagination">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a
                      class="page-link page-link--with-arrow"
                      href="#"
                      aria-label="Previous"
                      ><svg
                        class="page-link__arrow page-link__arrow--left"
                        aria-hidden="true"
                        width="8px"
                        height="13px"
                      >
                        <use
                          xlink:href="images/sprite.svg#arrow-rounded-left-8x13"
                        ></use></svg
                    ></a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#"
                      >2 <span class="sr-only">(current)</span></a
                    >
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a
                      class="page-link page-link--with-arrow"
                      href="#"
                      aria-label="Next"
                      ><svg
                        class="page-link__arrow page-link__arrow--right"
                        aria-hidden="true"
                        width="8px"
                        height="13px"
                      >
                        <use
                          xlink:href="images/sprite.svg#arrow-rounded-right-8x13"
                        ></use></svg
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- site__body / end -->


{% endblock %}